body{
    background-color: rgb(255, 166, 82);
    font-family: cursive;
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
section{
    display: flex;
    height: 76vh;
    padding: 2% 4%;
    flex-wrap: wrap;
}
.conteudo{

}
.titulo{
    font-size: 50px;
    font-size: 50px;
    text-shadow: 2px 1px 6px #ff7c00;
}
.sub-titulo{
    font-size: 10px;
}
#logo{
    display: flex;
}
#menu-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 5em;
}
#menu-ul li{
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
#menu-ul li:hover{
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: red;
}
/*NAV*/

/*NAV*/

/* DEVICON*/
.carousel{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.conteudo-imagem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 17%;
    align-items: center;
    filter: blur(4px);
    transition-delay: 10ms;
}
.conteudo-imagem:hover{
    filter: blur(0);
    transition-delay: 10ms;
}
.conteudo-imagem label{
    font-size: 25px;
}
.imagem{
    width: 20vh;
}
#imagem{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: rgb(255 255 255 / 12%);
    box-shadow: 1px 2px 7px 5px #0000006b;
}
/* DEVICON*/
/*FOOTER*/
footer{
    text-align: center;
}
/*FOOTER*/